<div class="row">
    <div class="col-sm-12">

        <!--Title and Logo--><!--Title and Logo-->
        <%- partial('_partial/header.ejs', {logoIcon: '', headerTitle: config.title}) %>

        <section class="main">

            <%- partial('_partial/impressum', {item: page}) %>
        </section>
    </div>
</div>