
<div class="post">

    <div class="post-header index">
        <h1 class="title">
            <a href="http://code-match.io">
                Code Match
            </a>
        </h1>
        <div class="post-info">
            Visit our website for more information on our IT-Consulting services
        </div>
    </div>

</div>