<div class="push"></div>

<footer class="footer-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 footer-about">
                <h2><%- __('contact') %></h2>
                <p>
                    Wels Holding GmbH<br/>
                    Knipweg 63<br/>
                    47533 Kleve<br/>
                    Deutschland<br/><br/>

                    Telefon: +49 173 5477782<br/>
                    Email: info@wels-holding.com<br/><br/>

                    Sitz der Gesellschaft: Kleve<br/>
                    Registergericht: Amtsgericht Kleve<br/>
                    Geschäftsführer: Stephan Wels<br/>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="list-inline footer-social-icons">
                    <% if(theme.email_url) { %>
                    <li class="list-inline-item">
                        <a href="mailto:<%- theme.email_url %>">
                            <span class="footer-icon-container">
                                <i class="fa fa-envelope-o"></i>
                            </span>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="footer-copyright">
                    <a href="/impressum">Impressum</a> | <%- theme.footer_copyright %>
                </div>
            </div>
        </div>
    </div>
</footer>