<div class="post">

    <div class="content">
        <h2>Angaben gemäß § 5 TMG</h2>
        <p>
            Wels Holding GmbH<br/>
            Knipweg 63<br/>
            47533 Kleve<br/>
            Deutschland<br/><br/>
        </p>

        <h2>Vertreten durch</h2>
        <p>
            Geschäftsführer: Stephan Wels
        </p>

        <h2>Kontakt</h2>
        <p>
            Telefon: +49 173 5477782<br/>
            E-Mail: info@wels-holding.com<br/>
        </p>

        <h2>Registereintrag</h2>
        <p>
            Eintragung im Handelsregister.<br/>
            Registergericht: Amtsgericht Kleve<br/>
            Registernummer: HRB 14548<br/>
        </p>

        <h2>Umsatzsteuer-ID</h2>
        <p>
            Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br/>
            DE 310 902 888
        </p>

        <h2>Hinweis auf EU-Streitschlichtung</h2>
        <p>
            Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:<br/>
            http://ec.europa.eu/consumers/odr<br/>
            Unsere E-Mail-Adresse finden Sie oben im Impressum.
        </p>

        <h2>Verbraucherstreitbeilegung</h2>
        <p>
            Wir nehmen nicht an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teil.
        </p>

    </div>

</div>